*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191919;
  color: #c4c4c4;
  display: flex;
  padding: 10px;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
  text-decoration: none;
  color: #c4c4c4;
}

nav a.active {
  color: aqua;
}
